<% include ../partials/head %>

<div class="galleria">
</div>

<% include ../partials/dialogs %>

<% include ../partials/js %>
<script src="/galleria/galleria.min.js"></script>
<script src="/galleria/themes/fullscreen/galleria.fullscreen.min.js"></script>
<script src="/js/frame.js"></script>

<% include ../partials/footer %>
